.signup{
    width: 80%;
    margin: 20px auto;
    display: flex;
    height: 500px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: aquamarine;
}