.products{
    margin: 20px auto;
    width: 80%;
    background-color:orange;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    height: 400px;
    width: 300px;
    padding: 10px;
    margin: 40px 20px;
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
}
.product-img{
    width: 100%;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
    display: block;
}
.product-name{
    text-transform: uppercase;
    margin: 10px 0;
}
.product-price{
    margin: 10px 0;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
}
.Add-button{
    font-size: 18px;
    border-radius: 5px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    text-transform: uppercase;
}
.Add-button:hover{
    background-color: red;
}
.Add-button:active{
    transform: translateY(2px)
}